/* merriweather-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/merriweather-v33-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* zen-kaku-gothic-new-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Zen Kaku Gothic New';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/zen-kaku-gothic-new-v18-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}


html {font-size: 16px;}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: false;
  line-height: 1.65;
  color: white;
  background-image: url("images/vintage.webp"); /* picked a dark background so the images would pop */
}

p {
  font-size: 1em;
  font-family: 'Merriweather';
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Zen Kaku Gothic New';
  font-weight: true;
  line-height: 1.15;
}

h1,
.text-size-h1 {
  font-family: 'Merriweather', sans-serif;
  font-weight: 400;
  margin-top: 0;
  font-size: 3.05em;
}

h2,
.text-size-h2 { font-size: 2.44em; }

h3,
.text-size-h3 { font-size: 1.95em; }

h4,
.text-size-h4 { font-size: 1.56em; }

h5,
.text-size-h5 { font-size: 1.25em; }

.text-caption { font-size: 0.8em; }

small,
.text-small {
  font-size: 0.64em;
}

.grid {
  display: flex;
  width: 45%;
  flex-wrap: wrap; /* trying to get the grid to look right, I know it is flexing correctly, but it is looking a bit sad, trying to tweak the numbers and find a happy medium as I go :) */
  padding: 10px;
}

.image {
  display: block;
}
