/* fustat-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Fustat';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/fustat-v4-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* cormorant-garamond-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Cormorant Garamond';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/cormorant-garamond-v21-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}



html {font-size: 25px;
  min-height: 100vh;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: false;
  line-height: 1.65;
  background-color: #B3A095;
  min-height: 100vh;
  position: relative;


}

p, ul, address, a {
  font-size: 1em;
  font-family: 'Fustat';
}


h2 {
  text-align: center;
  color: #27100F;
  text-shadow: 1px 1px whitesmoke;
}

h3 {
  text-align: center;
  text-color: #27100F;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Cormorant Garamond', sans-serif;
  font-weight: true;
  line-height: 1.15;
}

h1,
.text-size-h1 {
  font-family: 'Cormorant Garamond', sans-serif;
  font-weight: 700;
  margin-top: 0;
  font-size: 3.05em;
  color: #B3A095;
  padding-left: 160px;
  padding-top: 50px;
  text-shadow: 2px 2px black;
}



h2,
.text-size-h2 { font-size: 2.44em; }

h3,
.text-size-h3 { font-size: 1.95em; }

h4,
.text-size-h4 { font-size: 1.56em; }

h5,
.text-size-h5 { font-size: 1.25em; }

.text-caption { font-size: 0.8em; }

small,
.text-small {
  font-size: 0.64em;
}

header {
  display: flex;
  align-items: center;
  background-color: #27100F;
  color: white;
  padding: 20px;
  border-radius: 5px; 
}

.logo {
  float: left;
}

.button {
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 1em;
  border-radius: 5px;
  color: white;
  background: #855236;
  text-shadow: 2px 2px #27100F;
 }

a {
  text-shadow: none;
}

footer {
  padding: 10px 10px 20px 10px;
  background-color: #27100F;
  text-align: center;
  color: white;
}

