html {
padding-top: 25px;
background-image: url(images/bg_page.png);
}

body {
  
width: 80%;
padding: 20px;
margin: 0 auto;
border-radius: 10px;
box-shadow: 10px 10 px 10px rgba(0,0,0,.5);
background-color: #e1edeb;
}

body{
  font-family:'SUSE Mono', sans-serif;
}
h1 {

font-family: 'Bitcount Single Ink', sans-serif;
font-weight: normal;
color: #6a94cc;
font-size: 6em;

}


h2 {
color: #b1967c;
font-weight: normal;
font-size: 2.2em;
border-bottom: 2px white solid;
background: url(images/head-icon.png) no-repeat 10px 10px;
padding: 0 0 2px 60px;
margin: 0;
}


table {
  border: 1px solid black;
}

th, td {
  border: 1px solid grey;
  padding: 8px;
 