/* styles.css */

body {
	background-color: brown;
}
h1 {
color: rgb(184,53,86);
  font-family: "Swanky and Moo Moo", cursive;
  font-size: 6em;
	text-align: center;
	margin: 0 auto;
}

h2 {
	color: #FADED2;
	font-family: "Swanky and Moo Moo", cursive;
  font-size: 4em;
	margin: 0 auto;
}


p {
	color: rgb(85,118,140);
	font-family: "Mali", cursive;
	font-size: 1em;
}

ul {
	font-family: "Mali", cursive;
	font-size: .75em;
}

.Kuromi_witch {
    width: 100%;
    text-align: center;
}
